body {
  height: 100vh;
  margin: 0;
  background-color: black;
  font-family: 'Questrial', sans-serif;
  overflow: hidden;
  color: white;
  transition: .5s;
  width: 100vw;
}
a {
  text-decoration: none;
  color: white;
}
.backgroundDiv {
  position: fixed;
  top: 0;
  z-index: -2;
  transform: scale(1);
  filter: brightness(50%);
}
.outerBackgroundDiv {
  transition: .5s;
}
.circ {
    transition: .5s;
    animation: pulse 10s infinite linear alternate;
    z-index: 0;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    filter: brightness(80%) blur(0px);
    color: transparent;
    padding-top: 7vh;
    /*transform: rotateY(30deg) ; */
}
.circ:hover {
  filter: brightness(100%) blur(0px);
  color: white;
  /* transform: scale(1.5) rotateX(0deg) rotateY(60deg); */
}
@keyframes pulse {
  20% {
    background: #42f4e5;
  }
  40% {
    background: #d6ff51;
  }
  60% {
    background: #ed7d4e;
  }
  80% {
    background: #b145ef;
  }
  100% {
    background: #f449a7;
  }
}

.nav-bar {
  position: fixed;
  z-index: 5;
  width: 100%;
  margin-top: 6vh;
  animation: in 1s 2s forwards;
  opacity: 0;
}
.left {
  /* transform: rotate(90deg) ; */
  /* position: inherit; */
  /* margin-top: 50vh; */
  /* pointer-events: none; */
  /* text-decoration: line-through; */
  /* color: gray; */
}
.nav-bar a{
  font-size: 35px;

  transition: .5s;
  text-align: center;
  display: inline-block;
  letter-spacing: 0px;
  height: 4vh;
  width: 25%;
  text-transform: uppercase;
  /* color: transparent;
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff; */
  /* animation: pulseNow 5s infinite; */
}
@keyframes pulseNow {
  20% {
    color: #42f4e5;
  }
  40% {
    color: #d6ff51;
  }
  60% {
    color: #ed7d4e;
  }
  80% {
    color: #b145ef;
  }
  100% {
    color: #f449a7;
  }
}
.nav-bar a:hover {
  letter-spacing: 2px;
}
.top {
  /* position: inherit; */
  text-align: center;
  /* margin-top: 4vh; */
  /* margin-left: 45%; */
  /* pointer-events: none; */
  /* text-decoration: line-through; */
  /* color: gray; */
}
.right {
  /* position: inherit;
  transform: rotate(-90deg) ;
  right: 0vw;
  margin-top: 50vh; */
}


@keyframes fadeIn {
  100% {
    transform: translateY(0);
  }
}
.title-container {
  width: 100%;
  /* height: 100vw;
  vertical-align: bottom; */
  display: inline-block;
  margin-top: 20vh;
  text-align: center;
  z-index: -2;
  position: fixed;
  pointer-events: none;

}
  .title {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 40vh;
    width: 100%;
    margin-top: 10vh;
    display: inline-block;
    height: 70vh;
    overflow: hidden;
    /* color: #007fff; */
  }
  .title-animation {
    transform: translateY(-65vh);
    transition: 1s;
    animation: fadeIn 1s 1s forwards;

  }
  .selections {
    height: 60vh;
    white-space: nowrap;
  }
  .selections a {
    display: inline-block;
    font-size: 30vh;
    margin: 5vh;
    letter-spacing: 0px;
  }
  .title-description {
    font-size: 1.5vw;
    margin-top: -10vh;
    transform: translateY(-10vh);
    /* transform: translateY(-10vh); */
    width: 60%;
    /* color: #bcbcbc; */
    display: inline-block;
   }
   .des-a, .des-b {
     overflow: hidden;
     height: 4vh;
   }
   .des-a-inner, .des-b-inner {
     transform: translateY(-5vh);
     animation: fadeIn 1s 1.5s forwards;
     transition: 1s;

   }

 .featured-projects-indicator {
   width: 100%;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
   height: 20vh;
   font-size: 3vh;
   margin-top: -5vh;
   opacity: 0;
   animation: fadeOpacity 1s 2.5s forwards;
   font-family: 'Questrial';
   display: none;

 }
 @keyframes fadeOpacity {
   100% {
     opacity: 1;
   }
 }
 .featured-text {
   transform-origin: right;
   transform: rotate(0deg) translateY(-2vw);
   display: inline-block;
   line-height: 3vh;
   border-bottom: 1px solid #b8c1d1;
   padding-bottom: 1vh;
   color: #b8c1d1;
   transition: .5s;
   pointer-events: all;
 }
 .featured-text:hover {

 }
 .arrow {
   display: inline-block;
   transform: translateY(-3vw);
   font-size: 4vh;
   margin-left: 2vw;
   margin-right: 2vw;
 }
 .line {
   margin-top: 1vh;
   display: inline-block;
   width: 1px;
   display: none;
   height: 60px;
   transform: translateX(-4.2vw) translateY(-8vh);
   /* background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%); */
   background: white;

 }
 .c-scrolldown {
  width: 1px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: -40vh auto;
  overflow: hidden;
 }
 .c-scrolldown .c-line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
  background-position: 0 -60px;
  background-size: 100% 200%;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
 }

 @keyframes scrolldown {
  0% {
    background-position: 0 -60px;
 }
  75% {
    background-position: 0 0;
 }
  100% {
    background-position: 0 60px;
 }
 }

 /*
.title-dot {
  display: inline-block;
  text-align: center;
  width: 10vh;
  height: 120px;
  border: 2px solid gray;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 100px;
  cursor: pointer;
  position: relative;
  pointer-events: auto;

} */
svg {
	 width: 240px;
	 height: 240px;
	 background: transparent;
}
 svg #shape {
	 fill: none;
	 stroke: gray;
	 stroke-width: .75;
	 transition: all 2s 1s ease-in-out;
}
svg #shape2 {
  fill: none;
  stroke: #42dff4;
  stroke-width: 1;
  transition: all 4s 1s ease-in-out;
}
.title-continue {
  height: 4vh;
  overflow: hidden;
  transform: translateY(-6vh);

}
.title-continue div {
  display: inline-block;
  transform: translateY(-6vh);
  animation: fadeIn 1s 2s forwards;
  /* pointer-events: auto; */
}
.extra {
  display: none;
}
.hero-image {
  margin-top: 30vh;
}
.hero-image img{
  width: 60vw;
}

.emoji-rain {
  margin-top: 25vh;
  color: gray;
  display: inline-block;
  padding: 1vh;
  cursor: pointer;
  pointer-events: all;
  transition: background .5s, border .5s, box-shadow .5s, transform 1s;
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: in 1s 2s forwards;
  opacity: 0;
}
@keyframes in {
  0% {
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(00px);
  }
}
.emoji-rain div {
  transform: translateY(100%);

  vertical-align: middle;
}

.emoji-rain:hover {
  background: white;
  border: 1px solid white;
}
.emoji-rain:active {
  transition: .001s;
  background: black;
  box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.6);
}
@keyframes emojiAnimation {
  0% {
    top: 0;

  }
  100% {
    top: 100vh;
    /* transform: rotate(180deg); */
    display: none;
  }
}

.featured-work-container {
  margin-top: 100vh;
  height: 200vh;
  z-index: 0;
  position: absolute;
  background: black;
  width: 100%;
  overflow: hidden;
  margin-bottom: 100vh;
}
.word {
  font-size: 30vh;
}
.footer {
  margin-top: 00vh;
  height: 100vh;
  z-index: -3;
  position: fixed;
  background: white;
  width: 100%;
  color: black;
  font-size: 20vh;
  display: none;
}
